:root {
 --transitionTime: .1s;
}

.corner {
  border-radius: 15px;
  background: #f1f1f1;
  padding: 5%;
  width: 50%;
  height: 10%;
  margin: auto;
  overflow: hidden;
  transition: background-color var(--transitionTime);
}