:root {
 --transitionTime: .1s;
}

.corner {
  float: right;
  border-radius: 15px;
  background: #f1f1f1;
  width: 400px;
  height: 300px;
  margin: 3px 80px;
  /*margin: 30px 780px;*/
  transition: background-color var(--transitionTime);
  overflow: hidden;
  box-shadow: 2px 2px 10px black;
}

.topnav {
	padding: 120px 0px;
}